body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2e2d2d;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  font-family: "Roboto", sans-serif;
}
nav {
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 0px 50px 0 100px;
}
nav .logo {
  display: flex;
  color: #fff;
  font-size: 35px;
}
nav .ul1 {
  display: flex;
  list-style: none;
  transition: all 0.3s ease;
}
/*---------------------------------------------------------*/
nav .first .sign-in {
  position: absolute;
  right: 23%;
  top: 13%;
  display: flex;
  padding: 20px;
}

nav .first .sign-in input {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

nav .first .sign-in input:hover {
  color: #1b1b11;
  background: white;
}
/*---------------------------------------------------------*/

nav .second .sign-up {
  position: absolute;
  right: 15%;
  top: 13%;
  display: flex;
  padding: 20px;
}

nav .second .sign-up input {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

nav .second .sign-up input:hover {
  color: #1b1b11;
  background: white;
}
/*--------------------------------------------------------------*/
.min-text {
  display: none;
}
#click:checked ~ .ul1 {
  left: 0%;
}
nav .ul1 li {
  margin: 0 5px;
}

nav .ul1 li a {
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

nav .ul1 li a:hover {
  color: #1b1b11;
  background: #fff;
}

nav .menu-btn i {
  position: absolute;
  top: 25%;
  right: 20%;
  color: white;
  font-size: 32px;
  cursor: pointer;
  display: none;
}
.top {
  text-align: center;
  overflow: hidden;
  color: white;

  font-size: 40px;
}

.box {
  display: block;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1b1b1b;
  padding: 40px;
  border: none;
  border-radius: 14px;
  box-shadow: 5px 5px 5px 0 black;
}

.box h1 {
  text-align: center;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  border-bottom: 1px solid silver;
  padding-bottom: 40px;
}

#two {
  border: 0;
  width: 200px;
  outline: none;
  padding: 14px;
  
  border-radius: 24px;
  text-align: center;
  margin: 0 0 15px 30px;
  transition: 0.1s;
  font-family: sans-serif;
}

#two:focus {
  width: 280px;
  margin: 0;
  margin-bottom: 15px;
  border: 2px solid rgb(0, 89, 255);
}

#three {
  border: 0;
  width: 200px;
  outline: none;
  padding: 14px;
 font-family: sans-serif;
  border-radius: 24px;
  text-align: center;
  margin: 0 0 15px 30px;
  transition: 0.1s;
}

#three:focus {
  width: 280px;
  margin: 0;
  margin-bottom: 15px;
  border: 2px solid rgb(0, 89, 255);
}
#four {
  border: 0;
  outline: none;
  padding: 14px;
  font-family: sans-serif;
  border-radius: 24px;
  padding: 15px;
  margin: 0 0 0 120px;
}

#four:hover {
  background: rgb(65, 65, 231);
  color: white;
  cursor: pointer;
}

#sign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

#click {
  display: none;
}

.lst-box {
  width: 100%;
  height: 600px;
  background-color: #1b1b1b;
  position: absolute;
  top: 130%;
}

.lst-box .f {
  width: 300px;
  height: 400px;
  position: relative;
  top: 25%;
  left: 15%;
}

.lst-box .text5 h1 {
  position: absolute;
  top: 10%;
  left: 45%;
  color: white;
  font-size: 50px;
}

.lst-box .text5 .c {
  position: absolute;
  top: 45%;
  left: 49%;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.lst-box .f h1 {
  color: white;
  font-size: 20px;
  position: relative;
  top: 40%;
  left: 10%;
}

.lst-box .f .women {
  color: white;
  font-size: 18px;
  position: relative;
  top: 45%;
  left: 15%;
  text-decoration: none;
}

.lst-box .f .men {
  color: white;
  font-size: 18px;
  position: relative;
  left: -10%;
  top: 55%;
  text-decoration: none;
}

.lst-box .f .shirts {
  color: white;
  font-size: 18px;
  position: relative;
  left: -26%;
  top: 65%;
  text-decoration: none;
}

.lst-box .f .shoes {
  color: white;
  font-size: 18px;
  position: relative;
  left: -50%;
  top: 75%;
  text-decoration: none;
}

.lst-box .text5 .adress h1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 49%;
  text-transform: uppercase;
}

.lst-box .text5 .adress p {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 61%;
  left: 49%;
}

.lst-box .text5 .phone h1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 68%;
  left: 49%;
  text-transform: uppercase;
}

.lst-box .text5 .phone p {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 74%;
  left: 49%;
}

.lst-box .text5 .email h1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 79%;
  left: 49%;
  text-transform: uppercase;
}

.lst-box .text5 .email p {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 85%;
  left: 49%;
}

.lst-box .text5 .follow h1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 48%;
  left: 79%;
  text-transform: uppercase;
}

.lst-box .text5 .follow .fb i {
  color: white;
  position: absolute;
  top: 60%;
  left: 75%;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
}

.lst-box .text5 .follow .fb i:hover {
  color: blue;
}

.lst-box .text5 .follow .tw i {
  color: white;
  position: absolute;
  top: 60%;
  left: 80%;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
}

.lst-box .text5 .follow .tw i:hover {
  color: cyan;
}

.lst-box .text5 .follow .ins i {
  color: white;
  position: absolute;
  top: 60%;
  left: 85%;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
}

.lst-box .text5 .follow .ins i:hover {
  color: rgb(209, 123, 25);
}

@media (max-width: 940px) {
  nav .ul1 {
    position: fixed;
    top: 64px;
    left: -150%;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
  }

  nav .ul1 li {
    margin: 40px 0;
  }
  nav .ul1 li a {
    font-size: 20px;
  }

  nav .ul1 li a:hover {
    background: none;
    color: #fff;
  }

  nav .menu-btn i {
    display: block;
  }

  nav .first,
  .second {
    display: none;
  }
}
